body {
    background-color: #B77466;
    font-family: "Playfair Display", serif;
    font-size: large;
    background-image: url('zdjecia/kebab.png');
    margin: 0 5%;
}

nav {
    background-color: #FFE1AF;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border: 10px double #8b4639;
    border-radius: 30px;
    margin-bottom: 10px;
}

.logo {
    width: 40px;
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 3px 3px 5px #E2B59A;
    color: #864e43;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px
}

.nav-links a {
    text-decoration: none;
    padding: 10px;
    color: #864e43;
    font-weight: 700;
    font-size: 20px;
    border-radius: 10px;
}

#active-link {
    color: #8b4639;
    text-decoration: underline;
    background-color: #ddc498;
    cursor: default;
}

.nav-links a:hover {
    background-color: #ddc498;
}

.row {
    display: flex;
    flex-direction: row;
}

main, aside, footer {
    background-color: #E2B59A;
    padding: 10px;
    border: 3px solid #8b4639;
    border-radius: 15px;
    font-family: "Montserrat";
}

main {
    width: 75%;
    display: flex;
    justify-content: center;
}

aside {
    margin: 0 0 0 5px;
    width: 25%;
    display: flex;
    justify-content: center;
    height: fit-content;
}


@media (max-width: 600px) {
    .row {
        display: flex;
        flex-direction: column;
        gap: 5px
    }

    main, aside {
        width: auto;
    }

    aside {
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 10px
    }

    .nav-title, .nav-links {
        justify-content: center;
    }
}

footer {
    padding: 5px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
    border: 3px solid #8b4639;
    border-radius: 30px;
}

.icons-container img {
    width: 40px;
    margin-top: 8px;
}

.aside-marked-text {
    text-decoration: underline;
    font-weight: 800;
}

#clock {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 30px;
    font-family: "Playfair Display";
    color: #571f14;
}


/* home.html */

.main-marked-text {
    font-size: 25px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #571f14;
}

.main-ul li {
    list-style-image: url("zdjecia/kebab1.png");
    margin-bottom: 10px;
}

main table, table th, table tr, table td {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
}

table {
    width: 100%;
}

.marked-name {
    color:#571f14;
    font-weight: 600;
}

/* galeria.html */

.gallery-main {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.gallery-title {
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery-item {
    margin: 5px;
    width: 200px;
}

video {
    width: 400px;
}

@media (max-width: 700px) {
    .gallery-item {
        width: 150px;
    }

    video {
        width: 200px;
    }
}

.gallery-item img {
    width: 100%;
    height: auto;
}

.gallery-item img:hover {
    border: 1px solid #571f14;
}

/* kontakt.html */

.contact-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.contact-info {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.form-item {
    padding: 10px;
    margin-top: 5px;
}

form input, form select {
    width: 50%;
}

form textarea {
    max-width: 400px;
    min-width: 50%;
    min-height: 100px;
    max-height: 400px;
}

form input, form select, form textarea {
    border-radius: 15px;
    border: 1px solid #571f14;
    background-color: #FFE1AF;
    color: #571f14;
    font-size: 15px;
}

.submit-input {
    margin-top: 5px;
    padding: 10px;
    color: #FFE1AF;
    background-color: #571f14;
    font-size: large;
}